@import url("./global.css");

.header-bg {
  background: #000000;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.header img {
  display: block;
  max-width: 300px;
  padding: 20px;
}
.nav-menu {
  display: flex;
  padding: 30px;
  gap: 20px;
}

.nav-menu a {
  font-size: 1.25rem;
  color: white;
  padding: 16px 0px;
}

.nav-menu a:hover {
  color: #999999;
}
/*Main*/
.img-principal img {
  width: 100%;
  display: block;
}

/*QUEM SOMOS*/

.quem-somos-bg {
  height: 1000px;
}

.quem-somos h1 {
  text-align: center;
  font-size: 2rem;
  padding-top: 40px;
  text-align: center;
}

.quem-somos-texto {
  font-size: 1.25rem;
  margin-bottom: 60px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
/*grupo*/

<<<<<<< HEAD
.grupo-h1 {
=======
.h1 {
>>>>>>> 52d2834a77ad57ed9537c8b35628a88b26f68177
  text-align: center;
  font-size: 2rem;
  margin-bottom: 40px;
  display: block;
}
<<<<<<< HEAD
.grupo-integrantes {
=======
.integrantes {
  display: block;
>>>>>>> 52d2834a77ad57ed9537c8b35628a88b26f68177
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
<<<<<<< HEAD
  padding-bottom: 60px;
}

.integrantes img {
  display: flex;

  padding: 20px;
=======
  padding-bottom: 120px;
}

.grupo-integrantes img {
>>>>>>> 52d2834a77ad57ed9537c8b35628a88b26f68177
  width: 150px;
  height: 200px;
}

.integrantes h4,
<<<<<<< HEAD
p {
  box-sizing: border-box;
  margin: 0px;
  text-align: center;
=======
span {
  display: flex;
  justify-content: center;
}

.grupo-integrantes {
  display: grid;
}

.grupo-integrantes img {
  padding: 20px;
>>>>>>> 52d2834a77ad57ed9537c8b35628a88b26f68177
}

/*Footer*/

.footer-bg {
  background: #000000;
}

.footer {
  display: grid;
  max-width: 1200px;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 120px;
}

.footer img {
  width: 400px;
}
.footer-contato {
  padding-left: 80px;
}

.footer-contato h1 {
  color: white;
}

.footer-contato a {
  margin-top: 20px;
  color: white;
}
.footer-contato li {
  margin-bottom: 20px;
}

.lista-contatos {
  color: white;
}

.lista-contatos h1 {
  padding-bottom: 20px;
}

.lista-contatos img {
  width: 60px;
  padding-left: 15px;
}
.redes-sociais img {
  width: 60px;
  margin-top: 20px;
  padding-right: 20px;
}

.redes-sociais {
  padding-left: 40px;
}
.redes-sociais h1 {
  color: white;
}

.desenvolvido {
  text-align: center;
}

.feito-por {
  color: aliceblue;
}

/*RESPONSIVO*/

@media (min-width: 350px) and (max-width: 399px) {
  .header {
    display: flex;
    padding: -30px;
    align-items: center;
    justify-content: center;
  }
  .header img {
    max-width: 200px;
  }
  .nav-menu {
    gap: 15px;
  }
  .nav-menu li a {
    background: #111;
    font-size: 1rem;
    border-radius: 4px;
  }
<<<<<<< HEAD
  .grupo-integrantes {
    margin: 10px;
  }

  .integrantes img {
    display: grid;
    grid-template-columns: 1fr;
    width: 130px;
    height: 150px;
=======
  .integrantes {
  }
  .grupo-integrantes img {
    width: 150px;
    height: 200px;
>>>>>>> 52d2834a77ad57ed9537c8b35628a88b26f68177
  }

  .footer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    margin-left: -80px;
  }
  .footer img {
    max-width: 300px;
  }
  .footer-contato {
    display: block;
    margin-left: -40px;
  }
}

@media (min-width: 400px) and (max-width: 1100px) {
  .header {
    display: flex;
    padding: -30px;
    align-items: center;
    justify-content: center;
  }
  .header img {
    max-width: 200px;
  }
  .nav-menu {
    gap: 15px;
  }
  .nav-menu li a {
    background: #111;
    font-size: 1rem;
    border-radius: 4px;
  }

  .grupo-integrantes {
    margin: 10px;
  }

  .integrantes img {
    display: grid;
    grid-template-columns: 1fr;
    width: 150px;
    height: 200px;
  }

  .footer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    margin-left: -80px;
  }
  .footer img {
    max-width: 300px;
  }
  .footer-contato {
    display: block;
    margin-left: -40px;
  }
}
