@import url("./global.css");

.header-bg {
  background: #000000;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.header img {
  display: block;
  max-width: 300px;
  padding: 20px;
}
.nav-menu {
  display: flex;
  padding: 30px;
  gap: 20px;
}

.nav-menu a {
  font-size: 1.25rem;
  color: white;
  padding: 16px 0px;
}

.nav-menu a:hover {
  color: #999999;
}
/*Main*/
.img-principal img {
  width: 100%;
  display: block;
}

/*QUEM SOMOS*/

.quem-somos-bg {
  height: 1000px;
}

.quem-somos h1 {
  text-align: center;
  font-size: 2rem;
  padding-top: 40px;
  text-align: center;
}

.quem-somos-texto {
  padding: 60px;
  font-size: 1.25rem;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
/*grupo*/

.grupo-h1 {
  font-size: 2rem;
  text-align: center;
}

.grupo-integrantes {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 80px;
  justify-content: space-between;
}

.integrantes {
  padding: 20px;
}

.integrantes img {
  width: 150px;
  height: 200px;
  border-radius: 5px;
}

.integrantes h4,
p {
  text-align: center;
  margin: 0px;
}

/*Footer*/

.footer-bg {
  background: #000000;
}

.footer {
  display: grid;
  max-width: 1200px;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 120px;
}

.footer img {
  width: 400px;
}
.footer-contato {
  padding-left: 80px;
}

.footer-contato h1 {
  color: white;
}

.footer-contato a {
  margin-top: 20px;
  color: white;
}
.footer-contato li {
  margin-bottom: 20px;
}

.lista-contatos {
  color: white;
}

.lista-contatos h1 {
  padding-bottom: 20px;
}

.lista-contatos img {
  width: 60px;
  padding-left: 15px;
}
.redes-sociais img {
  width: 60px;
  margin-top: 20px;
  padding-right: 20px;
}

.redes-sociais {
  padding-left: 40px;
}
.redes-sociais h1 {
  color: white;
}

.desenvolvido {
  text-align: center;
}

.feito-por {
  color: aliceblue;
}

.nome {
  padding-bottom: 30px;
  color: white;
}

/*RESPONSIVO*/

@media (min-width: 350px) and (max-width: 1200px) {
  .header {
    display: flex;
    padding: -30px;
    align-items: center;
    justify-content: center;
  }

  .header img {
    max-width: 200px;
  }

  .nav-menu {
    gap: 15px;
  }

  .nav-menu li a {
    background: #111;
    font-size: 1rem;
    border-radius: 4px;
  }

  .grupo-integrantes {
    padding: 0px;
    justify-content: center;
  }

  .integrantes img {
    width: 140px;
    height: 200px;
    border-radius: 5px;
  }

  .footer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    justify-content: center;
  }

  .footer img {
    max-width: 300px;
  }

  .footer-contato {
    padding-left: 40px;
    display: block;
  }
}

@media (min-width: 600px) and (max-width: 1300px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    justify-content: center;
  }
}
